$primary-color: #61dafb;
$secondary-color: #35495E;
$success-color: #61dafb;
$title-color: #333;
$box-background-color: #6E6891;
$footer-background-color: #4FC08D;

$font-title-family: 'Montserrat', Helvetica, Arial, sans-serif;
$font-base-family: 'Open Sans', Helvetica, Arial, sans-serif;

$min-width-medium: 40em;
$max-width-medium: 63.9375em;

$min-width-large: 64em;

$max-width-content: 1100px;
$padding: 16px;

$border-radius-btn: 5px;